# Copy from .gitignore, with special rules to keep the real application.yml

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### application secrets ###
# Ignore the template instead, so that gcloud gets the correct configuration
# src/main/resources/application.yml
src/main/resources/application-template.yml
